{% extends "layout.html.twig" %}

{% block content %}
	<main id="login">
		<form method="post" id="forma" action="/login">
			<h3>
				<label for="loginName">Username or email</label>
			</h3>
			<input id="loginName" type="text" name="name">

			<h3>
				<label for="password">Password</label>
			</h3>
			<input id="password" type="password" name="password">

			<input class="submit" type="submit" value="Login">

			{% if errorMessage is defined %}
				<p>{{ errorMessage }}</p>
			{% endif %}
		</form>
	</main>
{% endblock %}
